<div class="content-detail-page services-pane">

  <div class="row">
    Please Select how you would like to watch this show.
  </div>
  <div class="">
    <div class="row">
      LIVE
    </div>
    <div class="row " >
      <div class="col col-33 dim-service" ng-class="{'opaque' :chosenService(i)}" ng-repeat="i in live" ng-click="ToggleShowToPackage(i)">
        {{i.display_name || i.name}}

      </div>
      <!--<div class="col col-33">-->
      <!--<img src="img/oTA.png" alt="">-->
      <!--</div>-->
      <!--<div class="col col-33">-->
      <!--<img src="img/slingTv.png" alt="">-->
      <!--</div>-->
    </div>
  </div>
  <div class="">
    <div class="row">
      ON-DEMAND
    </div>
    <div class="row ">
      <div class="col col-33 dim-service" ng-class="{'opaque' :chosenService(i)}" ng-repeat="i in onDemand"
           ng-click="ToggleShowToPackage(i)">
        {{i.display_name}}

      </div>

    </div>

  </div>
  <div class="">
    <div class="row">
      BINGE
    </div>
    <div class="row">
      <div class="col col-33 dim-service" ng-class="{'opaque' :chosenService(i)}" ng-repeat=" i in binge"
           ng-click="ToggleShowToPackage(i)">
        {{i.display_name}}

      </div>
    </div>
  </div>
  <div class="">
    <div class="row">
      PAY PER EPISODE/ SEASON
    </div>
    <div class="row">
      <div class="col col-33 dim-service" ng-class="{'opaque' :chosenService(i)}" ng-repeat=" i in payPerView"
           ng-click="ToggleShowToPackage(i)">
        {{i.display_name}}

      </div>
    </div>
  </div>

  <div class="content-next back-to-show" ui-sref="tab.dash">Add Popular Show</div>
</div>

