<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{title}}">
  <ion-content>
    <div class="show-detail card">
      <div class="item item-text-wrap show-card">
        {{id}}
        <img ng-src="{{ show.guidebox_data.artwork_304x171 }}">
      </div>
    </div>
  </ion-content>
</ion-view>
