<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{title}}" xmlns="http://www.w3.org/1999/html">
  <ion-content scroll="false">

    <div class="show-detail card">
      <div class="item item-text-wrap show-card">
        <img ng-src="{{ show.guidebox_data.artwork_304x171 }}">
      </div>
    </div>
    <div class="content-detail-page">
      <div class="row detail-title">
        The Blacklist
      </div>
      <div class="row ratings">
        <div class="col">
          80%
        </div>
        <div class="col">
          8.2/10
        </div>
        <div class="col">
          8.8/10
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row">
        <span class="bold">Number of Seasons:</span> Currently 3
      </div>
      <div class="row">
        <span class="bold">Release Date:</span> 23 September 2013
      </div>
      <div class="row">
        <span class="bold">Genres:</span> Crime | Drama | Mystery | Romance | Thriller
      </div>

      <div class="row content-description">
        When former government agent and fugitive Raymond "Red" Reddington surrenders to the FBI, he makes them an offer
        they can't refuse. On the mysterious condition that he work only with recent Quantico graduate Liz Keen, he
        agrees
        to help put away criminals from a list that he compiled, which includespoliticians, mobsters, spies and
        international terrorists -- starting with long-thought-dead terrorist Ranko Zamani. As the two pursue their
        quarry, Red forces the rookie profiler to think like a criminal to see the bigger picture.
      </div>
    </div>



  </ion-content>
</ion-view>

<div class="content-next"> Next: Choose how to watch </div>
