<ion-view view-title="Dashboard">
  <ion-header-bar class="bar-subheader ss_subheader">
    <search-shows></search-shows>

  </ion-header-bar>
  <ion-content ion-sticky ion-sticky-class="positive" class="padding" has-header has-subheader>
    <div ng-controller="ModalController">

      <button ng-click="openModal()">Call Me Maybe</button>

    </div>


    <!--<show-card  ng-repeat="show in package.data.content" show="show">-->
    <!--</show-card>-->

    <div clas="row">
      <div class="content-list card" ng-repeat="show in package.data.content"
           ui-sref="tab.dash-detail({showID: show.guidebox_data.id})">
        <div class="item item-text-wrap show-card">
          <img ng-src="{{ show.guidebox_data.artwork_304x171 }}">

        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
