<ion-view view-title="Dashboard">
  <ion-header-bar class="bar-subheader">
    <search-shows></search-shows>

  </ion-header-bar>
  <ion-content ion-sticky ion-sticky-class="positive" class="padding" has-header has-subheader>
    <div ng-controller="ModalController">

      <button ng-click="openModal()">Call Me Maybe</button>

    </div>


    <shows-block></shows-block>
    <!--<services-block></services-block>-->
    <summary-block></summary-block>
    <!--<ion-list>-->
    <!--<ion-item ng-repeat="i in test ">-->
    <!--{{ i }}-->
    <!--</ion-item>-->
    <!--</ion-list>-->


  </ion-content>
</ion-view>
