<ion-view view-title="Guide">
  <ion-content direction="xy">

    <!--<div ng-if="guide.length == 0 " class="center">-->
    <!--&lt;!&ndash;<ion-spinner></ion-spinner>&ndash;&gt;-->
    <!--</div>-->

    <!--{{grid}}-->

    <div class="row showtimes">
      <!--<div class="col-offset-10"></div>-->

      <div class="hour">1:00</div>
      <div class="hour">2:00</div>
      <div class="hour">3:00</div>
      <div class="hour">4:00</div>
      <div class="hour">5:00</div>
    </div>
    <ion-list ng-repeat="grid in gridLists">



      <ion-item class="row-no-padding show-row" ng-repeat="show in grid"
                type="item-text-wrap" >
        <div class="channel">
          <div>{{ show.ChannelImages[0].ImageTitle}} </div>
          <div>{{show.Channel}}</div>
          <img class="show-logo" ng-src="{{ show.ChannelImages[0].ImageUrl}}" />
          <!--<div>{{show.CallLetters}}</div>-->
          <!--<div>{{show.Channel}}</div>-->
        </div>
        <div class="airing" ng-repeat="airing in show.Airings"
             ng-class="{'first-show' : $index == 0, 'mins-60' : $index % 2 == 0, 'mins-30' : $index % 2 == 1 }"
        ng-style="{'width': dynamicWidth(airing.Duration)}">
          <span
            class="row show-title">{{airing.Title}}</span>
          <div class="row show-time">{{airing.Duration }} mins {{airing.Subcategory}}</div>
        </div>
        <!--{{show.shows[0].desc}}-->

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

