<ion-modal-view>
  <div class="modal-body">

    <ion-content>

      <div id="logo-header">
        <div class="row">
          <img src="https://s3.amazonaws.com/streamsavvy/iconCopy.png" alt="" class="horizontal-center">

        </div>
        <div class="row">
          <img src="https://s3.amazonaws.com/streamsavvy/streamsavvyLogo.png" alt="" class="horizontal-center">
        </div>

      </div>

      <div class="inset"><div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" class="form-control"
                 ng-model="credentials.username"
                 placeholder="Username"
                 ng-keypress="$event.which === 13 && login(credentials)"/>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" class="form-control"
                 placeholder="Password"
                 ng-model="credentials.password"
                 ng-keypress="$event.which === 13 && login(credentials)"/>
        </label>

      </div>
      <button ng-click=login(credentials) type="submit" value="Log In" name="subscribe"
              class="button button-block button-assertive">Sign In
      </button></div>

      <div class="row help-row">
        <div class="col ">Forgot your password?</div>
        <div class="col "><a class="pull-right">Need help?</a></div>
      </div>

      <div class="row help-row">
        <a>Create an account</a>
      </div>

      <input ng-click='closeModal()' type="submit" value="closeModal" name="subscribe"
             class="button button-positive">


    </ion-content>

  </div>


  </div>
</ion-modal-view>



