
  <!-- <input type="text" placeholder="Start typing" id="searchInput" ng-keydown="checkKeyDown($event)"
         class="form-control stacked-input-1" ng-model="searchText" ng-change="search()"/> -->


  <!--<i class="icon ion-search placeholder-icon"></i>-->
  <input type="text" placeholder="Start typing" id="searchInput" class="form-control stacked-input-1"
         ng-model="searchText" ng-model-options="modelOptions"
         uib-typeahead="suggestion.title for suggestion in search($viewValue)"
         typeahead-loading="loading" typeahead-no-results="noResults"
         typeahead-on-select="addToSelectedShows($item, $model, $label, $event)"/>


