<script id="suggestions-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Results</h1>

      <button ng-click="closeSuggestionsModal()" class="button button-clear button-positive">Close</button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="suggestion in suggestions">
          <div ng-click="addToSelectedShows(suggestion, $event)">
            {{suggestion.title}}
          </div>

        </ion-item>
      </ion-list>
    </ion-content>
  </ion-modal-view>
</script>

<div class="bar bar-header item-input-inset ss_search"  ng-hide="suggestionModalOpen" style="overflow:visible; position:absolute">
  <label class="item-input-wrapper hun-height">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="text" placeholder="Search for Your Shows" id="searchInput" ng-model="searchText"
           ng-model-options="{debounce : 1000 }"
           class="form-control stacked-input-1" ng-change="search(searchText)"/>
  </label>
</div>



