<ion-modal-view>
  <div class="modal-body">


    <ion-header-bar align-title="center" class="bar-positive">
      <h1 class="title">Log In</h1>
    </ion-header-bar>


    <ion-content>

      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" class="form-control"
                 ng-model="credentials.username"
                 placeholder="Username"
                 ng-keypress="$event.which === 13 && login(credentials)"/>
        </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" class="form-control"
               placeholder="Password"
               ng-model="credentials.password"
               ng-keypress="$event.which === 13 && login(credentials)"/>
      </label>

      </div>
      <button ng-click=login(credentials) type="submit" value="Log In" name="subscribe"
             class="button button-full button-positive">Login</button>

      <input ng-click='closeModal()' type="submit" value="closeModal" name="subscribe"
             class="button button-positive">


    </ion-content>

  </div>


  </div></ion-modal-view>



